body{

  background-color: #d8e0f2;

}

h1 {

  color: #405991;

  font-family: Georgia;

}

h2 {

  color: #7486ad;

  font-family: Georgia;

}

p {

  font-family: Garamond;

  font-size: 17px;

}

ol {

  font-family: Garamond;

  font-size: 17px;

}